<!DOCTYPE html>
<html>

    <!--> next lines are specific to django template language, they load the static prefix <-->
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}


    <head>
        <title>Minimalist Django App!</title>
    </head>
    <body>
        Minimalist Django App!
        <!--> Example of loading static files <-->
        <script src="{{ STATIC_PREFIX }}helloworld/js/jquery-1.7.2.min.js"/>
    </body>

</html>
